
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="cusid">ID</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" class= "input" name="cusid" required value="<%= model.cusid %>" />
      <span>(Required)  </span>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cusfname">First Name</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="cusfname" required value="<%= model.cusfname %>" /><span>(Required)</span>
     
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cuslname">Last Name</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="cuslname" required value="<%= model.cuslname %>" /><span>(Required)</span>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cusstate">State</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="cusstate" required maxlength="2" pattern="[A-Za-z]+" value="<%= model.cusstate %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cussalesytd">Sales YTD</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="cussalesytd" value="<%= model.cussalesytd %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="cussalesprev">Prev Years Sales</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="cussalesprev" value="<%= model.cussalesprev %>" />
    </div>
  </div>

  
  </div>